
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="devId" class="com.springbokka.DemoSpring.Dev">
        <!-- Making spirng assign laptop object to Dev SETTER INJECTION -->
        <property name="laptop" ref="laptopId"/> 


    </bean>
    
    <bean id="laptopId" class="com.springbokka.DemoSpring.Laptop">
    </bean>
</beans>