
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- #10 Constructor and Setter Injection  -->

    <bean id="devId" class="com.springbokka.DemoSpring.Dev" autowire="byName">
        <!-- defaults to laptop as it's id is same as Dev's Computer computer variable -->
         <!-- Note that a defualt constructor is needed for Dev class in this way and also getters and setters for Computer computer variable -->
    </bean>
    
    <bean id="computer" class="com.springbokka.DemoSpring.Laptop">
    </bean>

    <bean id="desktopId" class="com.springbokka.DemoSpring.Desktop">
    </bean>

</beans>