
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- #11 Autowire in Spring  -->

    <bean id="devId" class="com.springbokka.DemoSpring.Dev" autowire="byType">
    </bean>
    
    <bean id="laptopId" class="com.springbokka.DemoSpring.Laptop">
    </bean>

    <bean id="desktopId" class="com.springbokka.DemoSpring.Desktop" primary="true">
    </bean>

</beans>